body {
    margin: 0;
    padding: 0;
    font-family: cursive;
     /* background-image: url('./background-image.jpg'); */
    /* background-color: rgb(186, 186, 186); */
}

.container {
    background-image: url('background-image.jpg');
    height: 100vh;
}

.title-container {
    text-align: center;
}

.card-container {
    background-color: black;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: white;
}

.title-container h2 {
    margin: 30px 0px 0px 0px;
}

.title-container p {
    margin: 10px 0px 0px 0px;
    font-size: 13px;
    color: rgb(212, 212, 212);
}

form {
    margin: 40px 0px 0px 0px;
}

form input[type=text] {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    margin: 18px 0px;
    color: rgb(212, 212, 212);
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 12px;
    font-family: cursive;
}

form input[type=email] {
    width: 100%;
    box-sizing: border-box;
    margin: 18px 0px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    color: rgb(212, 212, 212);
    font-size: 12px;
    font-family: cursive;
}

.button-container {
    margin: 20px 0px 0px 0px;
}

.button-container button {
    background-color: grey;
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    font-family: cursive;
    cursor: pointer;
}

.button-container button:hover {
    background-color: white;
    color: black;
}